.woocommerce-loop-product__title {
    font-size: 18px !important;
    text-align: center !important;
    line-height: 28px !important;
    margin-top: 30px !important;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
    margin: 0 !important;
}
.woocommerce .woocommerce-product-gallery__wrapper img {
    max-width: 100% !important;
    height: auto !important;
    margin-bottom: 10px !important;
}
.woocommerce .product .product_title.entry-title {
    display: none !important;
}

/*-------------------------------------------------------------------
  WooCommerce Default Widgets Styling
--------------------------------------------------------------------*/

.woocommerce #review_form_wrapper #reply-title {
    font-size: 25px;
    font-family: 'Roboto Condensed', 'sans-serif';
    letter-spacing: -0.8px;
    font-weight: 700;
    line-height: 46px;
    color: #222;
    margin-top: 25px;
    display: inline-block;
    width: 100%;
}
.woocommerce #review_form_wrapper label {
    margin-top: 15px;
}


/**
 * WooCommerce Widget - Average Product Ratings
 */
.widget_rating_filter {
    background: #101010;
    padding: 30px;
}
.widget_rating_filter ul {
    padding: 0;
    margin: 0;
}
.widget_rating_filter ul li {
    list-style: none;
}
.widget_rating_filter a {
    color: rgba(255,255,255,0.8);
}


/**
 * WooCommerce Widget - Product Ratings
 */
.widget_shopping_cart {
    background: #101010;
    padding: 30px;
}
.widget_shopping_cart ul {
    padding: 0;
    margin: 0;
}
.widget_shopping_cart ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
}
.widget_shopping_cart ul li img {
    width: 50px;
    height: auto;
    float: right;
    padding-left: 10px;
}
.widget_shopping_cart a {
    color: rgba(255,255,255,0.8);
}
.widget_shopping_cart .quantity {
    font-size: 12px;
}
.widget_shopping_cart .woocommerce-Price-amount.amount {
    color: #fff;
    font-size: 12px;
    padding-left: 12px;
    display: block;
}
.widget_shopping_cart .total {
    border-top: 0;
    text-align: center;
    padding: 30px 0 0;
    color: #4c3b94;
}
.widget_shopping_cart .total .woocommerce-Price-amount.amount {
    padding-left: 0;
}
.widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
    padding-bottom: 15px;
}
.widget_shopping_cart .buttons a {
    width: 100%;
    text-align: center;
    padding: 15px 30px;
    display: block;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    letter-spacing: -0.3px;
    font-weight: 700;
    text-transform: capitalize;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.widget_shopping_cart .buttons a:hover {
    color: #fff;
}
.widget_shopping_cart .buttons a.checkout {
    margin-top: 10px;
    background: #4c3b94;
    color: #fff;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.widget_shopping_cart .buttons a.checkout:hover {
    opacity: 0.8;
}


/**
 * WooCommerce Widget - Layered Nav
 */
.widget_layered_nav {
    background: #101010;
    padding: 30px;
}
.widget_layered_nav ul {
    padding: 0;
    margin: 0;
}
.widget_layered_nav ul li {
    list-style: none;
    padding-bottom: 5px;
}
.widget_layered_nav a {
    color: rgba(255,255,255,0.8);
}


/**
 * WooCommerce Widget - Price Slider
 */
.widget_price_filter {
    background: #101010;
    padding: 30px;
}
.widget_price_filter .ui-slider .ui-slider-range {
    background: #4c3b94;
    height: 5px;
    position: relative;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: transparent;
    padding-bottom: 20px;
    margin-right: 15px;
    position: relative;
}
.widget_price_filter .ui-slider .ui-slider-handle {
    background: #fff;
    position: absolute;
    outline: 0;
    top: -7px;
    height: 18px;
    width: 18px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.widget_price_filter .price_label {
    color: rgba(255,255,255,0.8);
    padding-top: 10px;
    font-size: 12px;
    padding-left: 3px;
}
.widget_price_filter .price_slider_amount .button {
    background: transparent;
    position: relative;
    top: 8px;
    left: 4px;
    text-transform: uppercase;
    font-size: 12px;
    border: 0;
    outline: 0;
    float: right;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.widget_price_filter .price_slider_amount .button:hover {
    color: #fff;
}


/**
 * WooCommerce Widget - Product Categories
 */
.widget_product_categories {
    background: #101010;
    padding: 30px;
}
.widget_product_categories ul {
    padding: 0 2px;
}
.widget_product_categories ul li {
    padding: 5px 0;
    list-style: none;
}
.widget_product_categories ul li a {
    color: rgba(255,255,255,0.8);
}
.widget_product_categories ul.children {
    padding-top: 5px;
}
.widget_product_categories ul.children li {
    padding: 5px 10px;
}
.widget_product_categories ul.children li::before {
    content: "- ";
    color: rgba(255,255,255,0.8);
}
.widget_product_categories ul.children li a {
    color: #4c3b94;
    font-size: 12px;
}


/**
 * WooCommerce Widget - Widget Products
 */
.widget_products {
    background: #101010;
    padding: 30px;
}
.widget_products ul {
    padding: 0;
    margin: 0;
}
.widget_products ul li {
    list-style: none;
}
.widget_products ul li a,
.widget_products .woocommerce-Price-amount.amount {
    position: relative;
    top: -18px;
}
.widget_products .woocommerce-Price-amount.amount {
    padding-left: 10px;
}
.widget_products ul li img {
    width: 50px;
    height: auto;
    padding-right: 10px;
    position: relative;
    top: 15px;
}
.widget_products ul li .product-title {
    color: #fff;
    font-size: 13px;
}
.widget_products .woocommerce-Price-amount.amount {
    color: rgba(255,255,255,0.8);
    font-size: 12px;
}


/**
 * WooCommerce Widget - Product Search
 */
.widget_product_search {
    background: #101010;
    padding: 30px;
}
.widget_product_search input {
    height: auto;
}
.widget_product_search .woocommerce-product-search {
    padding-right: 40px;
    position: relative;
}
.widget_product_search input[type="submit"] {
    position: absolute;
    top: 0;
    right: -4px;
    padding: 16px 8px 15px;
    font-size: 10px;
}

/**
 * WooCommerce Widget - Tags
 */
.widget_product_tag_cloud {
    background: #101010;
    padding: 30px;
}

/**
 * WooCommerce Widget - Recently Viewed
 */
.widget_recently_viewed_products {
    background: #101010;
    padding: 30px;
}
.widget_recently_viewed_products ul {
    padding: 0;
    margin: 0;
}
.widget_recently_viewed_products ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.widget_recently_viewed_products ul li img {
    width: 60px;
    height: auto;
    float: right;
    padding-left: 10px;
    position: relative;
}
.widget_recently_viewed_products ul li a {
    display: block;
}
.widget_recently_viewed_products ul li .product-title {
    color: rgba(255,255,255,0.9);
    font-size: 13px;
}
.widget_recently_viewed_products .woocommerce-Price-amount.amount {
    color: #4c3b94;
    font-size: 12px;
    padding-left: 2px;
}

/**
 * WooCommerce Widget - Recent Reviews
 */
.widget_recent_reviews {
    background: #101010;
    padding: 30px;
}
.widget_recent_reviews .reviewer {
    color: rgba(255,255,255,0.8);
    font-size: 12px;
    padding-left: 2px;
}
.widget_recent_reviews .star-rating {
    margin: 7px 0 5px 0;
}
.widget_recent_reviews ul.product_list_widget li {
    padding-bottom: 10px;
}


/**
 * WooCommerce Widget - Top rated products
 */
.widget_recent_reviews {
    background: #101010;
    padding: 30px;
}
.widget_recent_reviews ul {
    padding: 0;
    margin: 0;
}
.widget_recent_reviews ul li {
    list-style: none;
}
.widget_recent_reviews ul li img {
    width: 60px;
    height: auto;
    padding-left: 10px;
    position: relative;
    top: 5px;
    float: right;
}
.widget_recent_reviews ul li a {
    font-size: 13px;
    color: rgba(255,255,255,0.9);
}
body.woocommerce .widget_recent_reviews .star-rating {
    float: inherit;
}


/**
 * WooCommerce Widget - Top rated products
 */
.widget_top_rated_products {
    background: #101010;
    padding: 30px;
}
.widget_top_rated_products ul {
    padding: 0;
    margin: 0;
}
.widget_top_rated_products ul li {
    list-style: none;
    padding-bottom: 10px;
}
.widget_top_rated_products ul li img {
    float: right;
    width: 60px;
    height: auto;
    padding-left: 10px;
    position: relative;
    top: 3px;
}
.widget_top_rated_products ul li .product-title {
    color: rgba(255,255,255,0.9);
    font-size: 13px;
    display: inline-block;
    padding-bottom: 5px;
}
.widget_top_rated_products .woocommerce-Price-amount.amount {
    color: rgba(255,255,255,0.9);
    font-size: 12px;
    padding: 6px 0 0 2px;
    display: inline-block;
}
body.woocommerce .widget_top_rated_products .star-rating {
    float: inherit;
}


/*----------------------------------------------------------------
 * Shop Page
 ---------------------------------------------------------------*/

/* Remove Wrapper Padding */
body.woocommerce.archive #wrapper {
    padding: 0;
}
body.woocommerce.archive {
    background: #eaeaea;
}
/* Remove Page Comments Spacing */
body.woocommerce-page .page-comments {
    display: none;
}
/* Shop Page Title */
.shop-page-title {
    padding: 110px 0 100px;
    margin-bottom: 60px;
}
.shop-page-title h1 {
    color: #fff;
}
/* Remove Breadcrumb */
body.woocommerce.archive .woocommerce-breadcrumb {
    display: none;
}
/* Result count */
body.woocommerce.archive .woocommerce-result-count {
    float: right;
    margin: 10px 10px 0 0;
    color: #333;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
}
/* Sorting Select Box */
body.woocommerce-page.archive .woocommerce-ordering {
    display: inline-block;
}
body.woocommerce-page.archive .woocommerce-ordering .select2-container.select2-container--default .select2-selection--single {
    background: #fff;
    border-color: #fff;
}
/* Product Image */
body.woocommerce-page .attachment-shop_catalog {
    max-width: 100%;
    width: 100%;
    height: auto;
}
/* Product - ul */
body.woocommerce-page ul.products {
    margin: 0;
    padding: 0;
}
/**
 * Product - li
 * Archive 3 products define width
 * @function - fitnessgym_shop_num_columns
 */

/* Sort the layout for products only on archive pages */
body.woocommerce-page.archive ul.products li.product {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 31.9%;
    margin: 20px 1% 20px 0;
    padding: 0;
    background: #f9f9f9;
    border-radius: 2px;
    -webkit-transition: box-shadow .15s ease-out;
    -moz-transition: box-shadow .15s ease-out;
    -ms-transition: box-shadow .15s ease-out;
    -o-transition: box-shadow .15s ease-out;
    transition: box-shadow .15s ease-out;
}
@media screen and (max-width: 990px) {
    body.woocommerce-page.archive ul.products li.product {
        width: 48%;
        margin-right: 1%;
    }
}
@media screen and (max-width: 500px) {
    body.woocommerce-page.archive ul.products li.product {
        width: 100%;
    }
}

/* Add hover boxshadow */
body.woocommerce-page ul.products li.product:hover {
    -webkit-box-shadow: 8px 15px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 8px 15px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 8px 15px 40px rgba(0, 0, 0, 0.15);
}

/* Product Title */
body.woocommerce-page ul.products li.product h3 {
    font-size: 16px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    text-align: center;
    padding-top: 20px;
}
/* Product Rating */
body.woocommerce-page ul.products li.product .star-rating {
    display: none;
}
/* Product Price */
body.woocommerce-page ul.products li.product .price {
    display: block;
    text-align: center;
    font-size: 13px;
    color: #222;
}
body.woocommerce-page ul.products li.product .price ins {
    text-decoration: none;
}
body.woocommerce-page ul.products li.product .price del {
    color: rgba(0,0,0,0.4);
    font-size: 12px;
    padding-right: 5px;
}
/* Product Button */
body.woocommerce-page ul.products li.product .button {
    display: block;
    background: #f9f9f9;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    color: #222;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 2px solid #f9f9f9;
    padding: 15px;
}
body.woocommerce-page ul.products li.product .button i {
    font-size: 8px;
    padding-left: 10px;
}
/* Added to cart popup button */
body.woocommerce-page ul.products li.product .button.added {
    display: none;
}
body.woocommerce-page ul.products li.product .added_to_cart {
    display: block;
    background: #f9f9f9;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    color: #4c3b94;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid #f9f9f9;
    padding: 15px;
}
/*  Product OnSale Tag */
body.woocommerce-page ul.products li.product .onsale {
    background: #222;
    color: #fff;
    font-family: 'Roboto Condensed', 'sans-serif';
    text-transform: uppercase;
    padding: 5px 7px;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
}
body.woocommerce-page ul.products li.product .onsale:after {
    content: "";
    z-index: -1;
    background: #222;
    position: absolute;
    bottom: -4px;
    left: 17px;
    width: 10px;
    height: 10px;
    border-radius: 1px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* ********************************************************
    Single Product Page
 * *******************************************************/

/* Choose option */
body.woocommerce.single-product .variations td {
    border: 0;
}
body.woocommerce.single-product .variations td.label {
    position: relative;
    top: -10px;
    text-transform: capitalize;
}

/**
 * Custom product image slider.
 */
.product-image-carousel-wrapper {
    width: 40%;
    display: inline-block;
    position: relative;
}
@media screen and (max-width: 765px) {
    .product-image-carousel-wrapper {
        width: 100%;
    }
    body.woocommerce.single-product .summary.entry-summary {
        width: 100%;
        padding-left: 0;
        margin-top: 60px;
    }
}
.product-image-carousel {
    position: relative;
}
.product-image-carousel-item img {
    max-width: 600px;
    width: 100%;
    height: auto;
}
/* Slick item remove padding */
body.woocommerce.single-product .slick-initialized .slick-slide {
    padding: 0;
}
/* Slick dots position */
.product-image-carousel .slick-dots {
    position: absolute;
    bottom: -50px;
    top: inherit;
}

/* Remove default wrapper padding */
body.woocommerce-page.single-product #wrapper {
    padding: 0;
}
body.woocommerce-page.single-product .custom-page-header {
    margin-bottom: 80px;
}

/* Sort Related Products Layout */
body.woocommerce-page.single-product ul.products li.product {
    list-style: none;
    display: inline-block;
    width: 23.7%;
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #f9f9f9;
    border-radius: 2px;
    -webkit-transition: box-shadow .15s ease-out;
    -moz-transition: box-shadow .15s ease-out;
    -ms-transition: box-shadow .15s ease-out;
    -o-transition: box-shadow .15s ease-out;
    transition: box-shadow .15s ease-out;
}
@media screen and (max-width: 990px) {
    body.woocommerce-page.single-product ul.products li.product {
        width: 48%;
        margin-right: 1%;
    }
}
@media screen and (max-width: 500px) {
    body.woocommerce-page.single-product ul.products li.product {
        width: 100%;
    }
}

/* Image */
.images {
    width: 40%;
    float: left;
    padding-right: 20px;
}
.woocommerce-main-image img {
    width: 100%;
    height: auto;
}
/* Title */
.product_title.entry-title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.8px;
}
/* Description */
.summary.entry-summary {
    width: 60%;
    float: right;
    padding-left: 20px;
}
.summary.entry-summary div[itemprop="description"] p {
    padding: 35px 0 50px;
}
/* Quantity */
body.woocommerce-page.single-product .quantity {
    width: 48%;
    margin-right: 1.5%;
    display: inline-block;
}
body.woocommerce-page.single-product .quantity input {
    width: 100%;
}
/* Add to Cart */
body.woocommerce-page.single-product .single_add_to_cart_button {
    width: 48%;
    margin-left: 1.5%;
    display: inline-block;
    background: #4c3b94;
    color: #fff;
    padding: 18px 30px;
    border: 0;
    font-family: Roboto Condensed, sans-serif;
    letter-spacing: -0.3px;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
}
@media screen and (max-width: 765px) {
    body.woocommerce-page.single-product .single_add_to_cart_button {
        margin-left: 0;
    }
}
body.woocommerce-page.single-product .single_add_to_cart_button i {
    font-size: 10px;
    padding-left: 15px;
}
/* Categories */
body.woocommerce-page.single-product .product_meta {
    padding: 20px 0;
    font-size: 13px;
}

/**
 * Star Ratings
 */
body.woocommerce .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star;
}
body.woocommerce .star-rating:before {
    content: "\73\73\73\73\73";
    color: #4c3b94;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

body.woocommerce .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}
body.woocommerce .star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
    color: #4c3b94;
}
body.woocommerce .woocommerce-product-rating {
     line-height: 2;
     display:block;
}
body.woocommerce .woocommerce-product-rating:after,.woocommerce .woocommerce-product-rating:before {
    content: " ";
    display: table;
}
body.woocommerce .woocommerce-product-rating .star-rating {
    margin: .5em 4px 0 0;
    float: left;
}
body.woocommerce .products .star-rating {
     display: block;
     margin: 0 0 .5em;
     float: none;
}
body.woocommerce .hreview-aggregate .star-rating {
    margin: 10px 0 0;
}
/* Custom reviews number */
.woocommerce-review-link {
    font-size: 12px;
    color: #222;
}

/* Cart table */
.shop_table .product-thumbnail {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}
.shop_table img {
    max-width: 100px;
    height: auto;
}

/**
 * Product Added to Cart Banners
 */
.woocommerce-message {
    padding: 30px;
    background: #eceff3;
    border-top: 2px solid #222;
    max-width: 1150px;
    margin: 0 auto 50px;
}
.woocommerce-message .button.wc-forward {
    float: right;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #222;
    letter-spacing: -0.3px;
}

/**
 * Price
 */
body.woocommerce.single-product .summary .price {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -1.2px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    margin: 10px 0 30px 0;
}
body.woocommerce.single-product .summary .price ins {
    color: #222;
    text-decoration: none;
}


/**
 * Description/Review Tabs
 */
.woocommerce-tabs.wc-tabs-wrapper {
    border-top: 1px solid #dddddd;
    margin-top: 100px;
}
/* Tabs - UL */
.woocommerce-tabs.wc-tabs-wrapper ul.tabs {
    margin: 0;
    padding: 0;
}
/* Tabs - LI */
.woocommerce-tabs.wc-tabs-wrapper ul.tabs li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.woocommerce-tabs.wc-tabs-wrapper ul.tabs li.active {
    border-top: 2px solid #4c3b94;
}
.woocommerce-tabs.wc-tabs-wrapper ul.tabs li a {
    color: #5e5e5e;
}
/* Default Headings */
.woocommerce-tabs.wc-tabs-wrapper h2 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1.4px;
    margin-top: 40px;
    padding-bottom: 20px;
}

/**
 * Reviews Tab
 */
body.woocommerce.single-product #comments ol {
    margin: 0;
    padding: 0;
}
body.woocommerce.single-product #comments ol li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}
body.woocommerce.single-product #comments ol li img.avatar {
    width: 100px;
    height: auto;
    float: left;
    padding-right: 20px;
    border-radius: 2px;
}
body.woocommerce.single-product #comments ol li .meta strong {
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #222;
    font-size: 13px;
}
body.woocommerce.single-product #comments ol li .meta {
    color: #aaa;
    font-family: Poppins, sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/**
 * Rating Stars
 */
.woocommerce #review_form #respond p {
    margin:0 0 10px
}
.woocommerce #review_form #respond .form-submit input {
    left:auto
}
.woocommerce #review_form #respond textarea {
    box-sizing: border-box;
    width: 100%
}
.woocommerce p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none
}
.woocommerce p.stars a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: WooCommerce;
    text-indent: 0
}
.woocommerce p.stars.selected a.active:before, .woocommerce p.stars:hover a:before,
.woocommerce p.stars.selected a:not(.active):before {
    content: "\e020";
}
.woocommerce p.stars a:before,
.woocommerce p.stars a:hover~a:before,
.woocommerce p.stars.selected a.active~a:before {
    content: "\e021";
}

/**
 * Related Products
 */
.related.products {
    padding-bottom: 70px;
}
.related.products h2 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1.4px;
    margin-top: 70px;
    padding-bottom: 10px;
}
.related.products ul.products {
    margin: 0;
    padding: 0;
}
.related.products ul.products li {
    list-style: none;
    width: 24%;
    display: inline-block;
}
.related.products ul.products li img {
    width: 100%;
    height: auto;
}


/* ********************************************************
    Cart Page
 * *******************************************************/
body.woocommerce-cart .shop_table th {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #222;
    letter-spacing: -0.3px;
}
body.woocommerce-cart .shop_table th.product-name,
body.woocommerce-cart .shop_table th.product-price,
body.woocommerce-cart .shop_table th.product-quantity,
body.woocommerce-cart .shop_table th.product-subtotal,
body.woocommerce-cart .shop_table th.product-remove {
    border: 0;
}
/* Product Image & Name */
body.woocommerce-cart .shop_table td.product-name img {
    width: 50px;
    height: auto;
    position: relative;
    top: 2px;
}
body.woocommerce-cart .shop_table td.product-name a {
    text-align: center;
    padding-left: 10px;
    color: #676767;
}
body.woocommerce-cart .shop_table td.product-name a img {
    position: relative;
    top: 18px;
}
@media screen and (max-width: 650px) {
    body.woocommerce-cart .shop_table td.product-name a {
        bottom: 0;
        padding-left: 0;
    }
    body.woocommerce-cart .shop_table td.product-name a img {
        top: 0;
    }
}
/* Product Remove */
body.woocommerce-cart .shop_table td.product-remove {
    text-align: center;
}

/**
 * Coupon Code/Update Cart
 */
body.woocommerce-cart .shop_table td.actions {
    border: 0;
    padding: 30px 0;
}
body.woocommerce-cart .shop_table td.actions .coupon {
    display: inline-block;
}
@media screen and (max-width: 650px) {
    body.woocommerce-cart .shop_table td.actions .coupon {
        width: 100%;
    }
}
/* Coupon Code Input */
body.woocommerce-cart .shop_table td.actions input#coupon_code {
    width: 250px;
    display: inline-block;
}
@media screen and (max-width: 650px) {
    body.woocommerce-cart .shop_table td.actions input#coupon_code {
        width: 100%;
    }
}
body.woocommerce-cart .shop_table td.actions .coupon label {
    display: none;
}
/* Apply Coupon Button */
body.woocommerce-cart .shop_table td.actions .coupon input.button {
    display: inline-block;
}
@media screen and (max-width: 650px) {
    body.woocommerce-cart .shop_table td.actions .coupon input.button {
        width: 100%;
    }
}
/* Update Cart Button */
body.woocommerce-cart .shop_table td.actions input.button {
    float: right;
    position: relative;
}
@media screen and (max-width: 650px) {
    body.woocommerce-cart .shop_table td.actions input.button {
        width: 100%;
    }
}
body.woocommerce-cart .shop_table td.actions input[disabled] {
    opacity: 0.4;
}

/**
 * Cross-sells
 */
body.woocommerce-cart .cross-sells {
    display: none;
}

/**
 * Cart Totals
 */
body.woocommerce-cart .cart_totals h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    letter-spacing: -1.4px;
}
body.woocommerce-cart table.shop_table tr.cart-subtotal th,
body.woocommerce-cart table.shop_table tr.cart-subtotal td {
    border: 0;
}
body.woocommerce-cart table.shop_table tr.order-total th,
body.woocommerce-cart table.shop_table tr.order-total td {
    border-width: 1px 0 0 0;
}
/* Checkout Button */
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button {
    display: inline-block;
    position: relative;
    top: -5px;
    background: #4c3b94;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-weight: 700;
    font-size: 13px;
    letter-spacing: -0.2px;
    padding: 18px 40px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
@media screen and (max-width: 650px) {
    body.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button {
        width: 100%;
        display: inline-block;
        position: relative;
        top: -10px;
    }
}
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button:hover {
    opacity: 0.8
}



/* ********************************************************
    Checkout Page
 * *******************************************************/
.woocommerce-billing-fields {
    margin-top: 40px;
}
.woocommerce-billing-fields p {
    margin: 0 0 5px;
}

body.woocommerce-checkout input[type="checkbox"] {
    height: 15px;
    position: relative;
    top: 3px;
}
body.woocommerce-checkout .create-account {
    margin-bottom: 30px;
}
body.woocommerce-checkout .create-account #account_password,
body.woocommerce-checkout .create-account p.form-row {
    width: 100%;
}
body.woocommerce-checkout .create-account p,
body.woocommerce-checkout form.login p {
    padding-left: 5px;
}
body.woocommerce-checkout h3 {
    padding-left: 5px;
}
@media screen and (max-width: 765px) {
    body.woocommerce-checkout h3 {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

/**
 * Returning Customer
 */
body.woocommerce-checkout .woocommerce-info {
    padding: 30px 30px 30px 35px;
    background: #cacaca;
    margin-top: 20px;
}
body.woocommerce-checkout form.login,
body.woocommerce-checkout form.checkout_coupon {
    background: #cacaca;
    padding: 30px;
    margin-bottom: 30px;
}
body.woocommerce-checkout form.login .form-row-first,
body.woocommerce-checkout form.login .form-row-last {
    width: 49.7%;
    display: inline-block;
}
@media screen and (max-width: 650px) {
    body.woocommerce-checkout form.login .form-row-first,
    body.woocommerce-checkout form.login .form-row-last {
        width: 100%;
    }
}


/**
 *Coupon
 */


/**
 * Form
 */
p.form-row {
    width: 49.7%;
    display: inline-block;
    padding: 0 5px;
}
@media screen and (max-width: 650px) {
    p.form-row {
        width: 100%;
    }
}
/* Select2 Remove Class Before */
.woocommerce-billing-fields .clear {
    display: none;
}
.woocommerce-billing-fields .form-row-first {
    float: left;
}
.woocommerce-billing-fields .form-row-last {
    float: right;
}
.woocommerce-billing-fields .form-row#billing_address_1_field {
    width: 100%;
}
/* Select2 */
.select2-container,
.select2-container .select2-choice>.select2-chosen,
.select2-container .select2-choice {
    height: 50px;
    background: #eceff3;
    border-radius: 0;
    border: 0 !important;
}
.select2-container .select2-choice {
    padding: 0 0 0 20px;
    color: #222 ;
    font-size: 13px;
}
.select2-chosen {
    position: relative;
    top: 12px;
}
/* The Dropdown */
.select2-results {
    background: #fff;
    padding: 0;
    border-radius: 0;
}
.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active {
    border: 0;
}
.select2-results li {
    padding: 6px 0;
    margin: 0;
    font-size: 12px;
    border-radius: 0 !important;
    border-bottom: 1px solid #f9f9f9 !important;
}
/* Order Comments */
#order_comments_field {
    width: 100%;
}

#order_review table.shop_table td,
#order_review table.shop_table th {
    border-width: 0 0 1px 0;
}

/**
 * Payment Method
 */
ul.wc_payment_methods {
    margin: 0;
    padding: 0;
}
ul.wc_payment_methods li {
    display: block;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.wc_payment_methods .payment_box {
    background: #cacaca;
    padding: 25px 20px 10px 20px;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}
ul.wc_payment_methods li.payment_method_paypal img {
    display: none;
}
.payment_method_cheque label,
.payment_method_paypal label {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.6px;
    color: #222;
    padding-left: 20px;
    margin-top: 20px;
    position: relative;
    top: -19px;
}

/* Place Order Button */
.form-row.place-order {
    display: inline-block;
    width: 100%;
}
.form-row.place-order #place_order {
    margin-top: 30px;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/**
 * Import WooCommerce Star Fonts
 */
@font-face {
    font-family:star;
    src:url(assets/fonts/star.eot);
    src:url(assets/fonts/star.eot?#iefix)
    format("embedded-opentype"),
    url(assets/fonts/star.woff)
    format("woff"),
    url(assets/fonts/star.ttf)
    format("truetype"),
    url(assets/fonts/star.svg#star)
    format("svg");
    font-weight:400;
    font-style:normal
}
@font-face {
    font-family: WooCommerce;
    src:url(assets/fonts/WooCommerce.eot);
    src:url(assets/fonts/WooCommerce.eot?#iefix)
    format("embedded-opentype"),
    url(assets/fonts/WooCommerce.woff)
    format("woff"),
    url(assets/fonts/WooCommerce.ttf)
    format("truetype"),
    url(assets/fonts/WooCommerce.svg#star)
    format("svg");
    font-weight:400;
    font-style:normal
}